.card.cardLargura {
    max-width: 18rem;
} 
.imagemCarroselUm {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}
.imagemCarroselDois {
    object-fit: cover;
    height: 400px;
}
.fonteTitulo {
    font-family: 'Pacifico', cursive;
}
.corEspecial {
    color: darkred!important;
}
.card.bordaCorEspecial {
    border-color: darkred;
}
.btn.botaoCorEspecial {
    background-color: darkred;
    color: white;
}
.cardPosicaoImagem {
    object-fit: cover;
    height: 200px;
}
